/AoE.class
/DamageAoE.class
/Decal.class
/HealingAoE.class
/Impassable.class
/InstantDeathAoE.class
/Item.class
/Normal.class
/ObstacleItem.class
/OneShotItem.class
/ResourcePackage.class
/Slowing.class
/Terrain.class
/TileInfo.class
